apiVersion: apps/v1
kind: Deployment
metadata:
  name: demoapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demoapp
  template:
    metadata:
      labels:
        app: demoapp
    spec:
      containers:
      - name: demoapp
        image: devopsprojectacr123.azurecr.io/demoapp:v1
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: demoapp-service
spec:
  type: LoadBalancer
  selector:
    app: demoapp
  ports:
  - port: 80
    targetPort: 80